.pg{
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 0 solid rgba(0, 0, 0, .125);
}

.pg ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.pg ul li{
    float: left;
}

.pg ul li.active{
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pg .li:first-child .page-link{
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pg ul li.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pg ul li a.page-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}